# Auto detect text files and perform LF normalization
* text=auto
ZeusTest/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01.png filter=lfs diff=lfs merge=lfs -text
ZeusTest/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV01_N.png filter=lfs diff=lfs merge=lfs -text
ZeusTest/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02.png filter=lfs diff=lfs merge=lfs -text
ZeusTest/Assets/TerrainTexturesPackFree/TerrainTextures/GrassUV02_N.png filter=lfs diff=lfs merge=lfs -text
